<mat-toolbar color="primary">
  <button mat-button (click)="sidenav.toggle()">Menu</button>
  <a routerLink="TimeSheets/home">{{ title }}</a>
</mat-toolbar>
<mat-sidenav-container class="sindeNavBlock">
  <mat-sidenav class="sindeNavBlock lightPurple" #sidenav mode="side">
    <ul>
      <li>
        <a routerLink="TimeSheets/home" (click)="sidenav.close()">Home</a>
      </li>
      <li>
        <a routerLink="TimeSheets/manager" (click)="sidenav.close()">Manager</a>
      </li>
    </ul>
  </mat-sidenav>

  <mat-sidenav-content class="sindeNavBlock">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
  
</mat-sidenav-container>